---
import data from '../data/data.json';
const drivers = Object.values(data);
const Max = drivers[0];
const Lan = drivers[1];
const Lec = drivers[2];
---

<section id="drivers">
	<div class="item flex justify-center" id="Lan">
		<section
			class={`bottom-20 mt-8 flex 
			sm:h-[26.41rem]   sm:hover:h-[27.5rem]
			w-[90vw] md:w-[30vw] 
			flex-col rounded-xl rounded-ee-none rounded-ss-none border-r-2 border-t-2 pt-4 duration-150  hover:pt-[2rem] sm:hover:bottom-[3.9rem] sm:hover:mt-[-1.1rem] hover:border-[#ff8000]`}
		>
			<div
				id="parent"
				class="flex items-center text-center text-xl tracking-[0.0125rem] text-gray-100"
			>
				<p
					class="absolute ml-[-2rem] -rotate-90 text-xl font-black tracking-[0.0125rem] text-gray-100 sm:ml-[-1rem] md:hidden lg:block"
				>
					{Lan.team_name}
				</p>
				<div id="div1" class="flex items-center justify-center">
					<img class="ml-3 h-[13rem]" src={Lan.headshot_url} alt={Lan.full_name} />
				</div>
				<div id="div2"><p class="font-bold">PTS {Lan.points}</p></div>
				<div id="div3"><p>{Lan.first_name}</p> <p class="font-bold">{Lan.last_name}</p></div>
				<div id="div4" class="flex flex-col items-center justify-center">
					<p class="text-2xl font-bold text-[#848482]">{Lan.position}</p>
					<div class={`h-1 w-9 bg-[#ff8000]`}></div>
				</div>
			</div>
		</section>
	</div>

	<div class="item flex justify-center" id="Max">
		<section
			class={`bottom-20 mt-8 flex 
			sm:h-[26.41rem]   sm:hover:h-[27.5rem]
			w-[90vw] md:w-[30vw] 
			flex-col rounded-xl rounded-ee-none rounded-ss-none border-r-2 border-t-2 pt-4 duration-150  hover:pt-[2rem] sm:hover:bottom-[3.9rem] sm:hover:mt-[-1.1rem] hover:border-[#3671c6]`}
		>
			<div
				id="parent"
				class="flex items-center text-center text-xl tracking-[0.0125rem] text-gray-100"
			>
				<p
					class="absolute ml-[-2rem] -rotate-90 text-xl font-black tracking-[0.0125rem] text-gray-100 sm:ml-[-1rem] md:hidden lg:block"
				>
					{Max.team_name}
				</p>
				<div id="div1" class="flex items-center justify-center">
					<img class="ml-3 h-[13rem]" src={Max.headshot_url} alt={Max.full_name} />
				</div>
				<div id="div2"><p class="font-bold">PTS {Max.points}</p></div>
				<div id="div3"><p>{Max.first_name}</p> <p class="font-bold">{Max.last_name}</p></div>
				<div id="div4" class="flex flex-col items-center justify-center">
					<p class="text-2xl font-bold text-[#CFB53B]">{Max.position}</p>
					<div class={`h-1 w-9 bg-[#3671c6]`}></div>
				</div>
			</div>
		</section>
	</div>

	<div class="item flex justify-center" id="Lec">
		<section
			class={`bottom-20 mt-8 flex 
			sm:h-[26.41rem]   sm:hover:h-[27.5rem]
			w-[90vw] md:w-[30vw] 
			flex-col rounded-xl rounded-ee-none rounded-ss-none border-r-2 border-t-2 pt-4 duration-150  hover:pt-[2rem] sm:hover:bottom-[3.9rem] sm:hover:mt-[-1.1rem] hover:border-[#e80020] `}
		>
			<div
				id="parent"
				class="flex items-center text-center text-xl tracking-[0.0125rem] text-gray-100"
			>
				<p
					class="absolute ml-[-2rem] -rotate-90 text-xl font-black tracking-[0.0125rem] text-gray-100 sm:ml-[-1rem] md:hidden lg:block"
				>
					{Lec.team_name}
				</p>
				<div id="div1" class="flex items-center justify-center">
					<img class="ml-3 h-[13rem]" src={Lec.headshot_url} alt={Lec.full_name} />
				</div>
				<div id="div2"><p class="font-bold">PTS {Lec.points}</p></div>
				<div id="div3"><p>{Lec.first_name}</p> <p class="font-bold">{Lec.last_name}</p></div>
				<div id="div4" class="flex flex-col items-center justify-center">
					<p class="text-2xl font-bold text-[#bf8970]">{Lec.position}</p>
					<div class={`h-1 w-9 bg-[#e80020]`}></div>
				</div>
			</div>
		</section>
	</div>
</section>

<style>
	#parent {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 3fr repeat(3, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	#div1 {
		grid-area: 1 / 1 / 2 / 2;
	}
	#div2 {
		grid-area: 2 / 1 / 3 / 2;
	}
	#div3 {
		grid-area: 3 / 1 / 4 / 2;
	}
	#div4 {
		grid-area: 4 / 1 / 5 / 2;
	}

	#drivers {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 0px;
	}

	#Max {
		grid-area: 1 / 2 / 2 / 3;
	}
	#Lan {
		grid-area: 1 / 1 / 2 / 2;
	}
	#Lec {
		grid-area: 1 / 3 / 2 / 4;
	}

	@media (max-width: 768px) {
		#drivers {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}

		#Max {
			grid-area: 1 / 1 / 2 / 2;
		}
		#Lan {
			grid-area: 2 / 1 / 3 / 2;
		}
		#Lec {
			grid-area: 3 / 1 / 4 / 2;
		}
	}
</style>
